body{
    position: relative;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #1d1f21;
    color: #fff;
}
#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1d1f21;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    z-index: 9999;
}
#content {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}
.btns{
  margin-right: 10px;
  margin-left: 10px;
  background-color: #1d1f21;
  color: #3090CF;
  border-bottom-color: #009AFF;
  border-bottom-width: 3px;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-radius: 10px;
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  transition: transform 0.7s;
}
.btns:hover {
  border-color: #FF0000;
  color: #FF0000;
  transform: scale(1.11);
}
header{
  background: #16181b;
  position: relative;
  padding: 10px;
  border-radius: 10px;
}
main {
  background: #16181b;
  color: white;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
ul{
  display: flex;
  overflow-x: auto;
  padding: 10px;
}
li{
  list-style-type:none;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #1d1f21;
  height: 240px;
  width: 200px;
  color: #3090CF;
  border-radius: 10px;
  padding: 0px;
  transition: transform 0.3s;
}
li:hover {
    transform: scale(1.06);
}
a{
  color: #58a6ff;
  text-decoration: none;
}
.img1{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 180px;
  width: 100%;
}
footer{
    text-align: center;
  background: #16181b;
  padding: 10px;
  border-radius: 10px;
}